body{
    background-color: rgb(89, 89, 192);
    color: whitesmoke;

}
h1{
    color: rgb(173, 102, 240);
    font-size: 48px;
    padding-left: 100px;
    margin: 5px;
}
a{
    color: white;
    padding: 12px;
    text-decoration: none;
}
main{
    padding: 100px;
}
button{
    background-color: blueviolet;
    text-decoration: none;
    padding: 5px;
    color: white;
}
img{
    border: 12px solid rgb(132, 66, 194);
    border-radius: 15px;
    border-style: hidden;
}